{{#if isEditing}}
	{{view Ember.TextArea valueBinding="data" class="blaski-page"}}
	<button {{action save target="controller"}}>Save</button>
	<button {{action cancel target="controller"}}>Cancel</button>
{{else}}
	<div class="blaski-page">
		{{{htmlData}}}
		<button {{action edit target="controller"}}>Edit</button>
	</div>
{{/if}}
